name: demo1

on:
  push:
    paths:
    - demo1/**
  pull_request:
    paths:
    - demo1/**

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Build
        run: cargo build --verbose
        working-directory: ./demo1
      - name: Test
        run: cargo test --verbose
        working-directory: ./demo1
